html {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
h1 {
  text-align: center;
}
.container {
  text-align: center;
  width: 100%;
}
table {
  margin: 20px auto;
  width: 80%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

table th, table td {
  padding: 10px;
  border: 1px solid #ddd; 
  text-align: left;
}
.form-add-book {
  text-align: center;
}
input {
  margin: 7px;
  height: 30px;
  width: 30%;
}
button {
  background-color: red;
  color: white;
  cursor: pointer;
  font-size: 15px;
  padding: 5px;
}